{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        {% if session["error"] %}
        <div class="input"><p class="error">{{text}}</p></div>
        {% endif %}
        <div class="input">
            <input autocomplete="off" autofocus class="form-control form-control-lg mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="input">
            <input class="form-control form-control-lg mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="input">
            <input class="form-control form-control-lg mx-auto w-auto" name="confirmation" placeholder="Confirm your password" type="password" required>
        </div>
        <button class="btn btn-dark btn-lg" type="submit">Register</button>
    </form>
{% endblock %}
